body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}
.profile_details {
    float: left;
    margin: 15px 0px;
    width: 140px;
    position: relative;
    padding-left: 0PX;
    margin-left: 75PX;
}
#loginContainer {
    position: relative;
    float: left;
    padding-right: 10px;
    padding-top: 15px;
}
.profile_img {
    float: right;
}
#loginBox {
    position: absolute;
    top: 53px;
    right: 10px;
    display: none;
    z-index: 29;
}
#loginButton {
    display: inline-block;
    position: relative;
    z-index: 30;
    cursor: pointer;
    width: 180px;
}
#loginContainer {
    position: relative;
    float: left;
    padding-right: 10px;
    padding-top: 15px;
}
#loginForm {
    width: 200px;
    background: #1F253D;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.user-info ul li.profile {
    float: left;
}
.user-info ul li.logout {
    float: right;
}
#loginButton span {
    font-size: 1em;
    background: url(images/loginArrow.png) no-repeat 26px 8px;
    background-position: 144px 7px;
    display: block;
    padding: 0 30px 0 0;
}

#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    height: 34px;
    border-top: 1px solid #717171; /* inner stroke */
    border-bottom: 1px solid #5A5A5A; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    list-style-type:none;
}  

#leftMenu .accordion-heading  a{  
    color: #cbcbcb; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    font-weight:bold;  
}

#leftMenu .accordion-heading  a:hover{  
    color:#ccc     
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

.footer{
    text-align: center;
}
.carousel {
    position: relative;
    margin-bottom: 10px;
}
.carousel-indicators {
bottom: 7px;
}
.carousel-caption{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;

}